/* RESET */
html, body {
  background: url("/assets/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, a, p, span, img {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

/* HELPERS */
.valign-middle.row {
  display: table;
  width: inherit;
  height: 100%;
}

.valign-middle .valign-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* LANDING PAGE */
.landing-page .my-photo {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.landing-page .my-photo:hover {
  -webkit-filter: grayscale(0.3);
  filter: grayscale(0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.landing-page .my-name {
  font-size: 5vh;
  line-height: 10vh;
}

.landing-page .my-nickname {
  font-size: 2vh;
  line-height: 4vh;
  color: rgba(255, 255, 255, 0.6);
}

.landing-page .my-description {
  font-size: 3vh;
  line-height: 6vh;
}

.landing-page .contacts-group .contacts-item {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3vh;
  margin-left: 0.5rem;
  border: 0;
  background-color: transparent;
  color: white;
}

.landing-page .contacts-group .contacts-item:hover {
  background-color: white;
  color: black;
}
