/* RESET */
html, body {
  background: url("/assets/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, a, p, span, img {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

/* HELPERS */
.valign-middle.row, .valign-middle > .columns {
  display: table;
  width: inherit;
  height: 100%;
}

.valign-middle .valign-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* LANDING PAGE */
.landing-page .my-photo {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid white;
}

.landing-page .my-photo:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.landing-page .my-name {
  font-size: 2vw;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.landing-page .my-description {
  font-size: 1.5vw;
}

.landing-page .contacts-group .contacts-item {
  margin-left: 0.5rem;
  border: 0;
  background-color: transparent;
  color: white;
}

.landing-page .contacts-group .contacts-item:hover {
  background-color: white;
  color: black;
}
