---
layout: default
---

<div class="row post-page">
  <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
    <h1 class="post-title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <div class="post-content">
      {{content}}
    </div>

    <span class="post-date">{{ page.date | date: "%-d %B %Y"  }}</span>
    <hr/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'ghaiklor';
      var disqus_identifier = '{{ page.id }}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </div>
</div>
